<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>main</title>
</head>

<body style="background-color: skyblue">
<h1 style="margin:150px;color:white; text-shadow: 2px 2px 4px gray; text-align:center">당신이 원하던 바로 그 게시판</h1>
<a href="/posts/index"><button type="button" class="btn btn-secondary" style=" margin-left:50% ;margin-right:50%;margin-bottom:300px">Click!</button></a>
</body>
</html>